/* Navigation bar */

nav {
  display: flex;
  background-color: #f7ac8a;
  align-items: center;
  padding: 15px 20px;
  border-radius: 3px 3px 0 0;
  
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
  font-weight: bold;
 
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

.main-nav-links {
  margin: 0 10px;
}

